@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #edf2f4;
}

a,
p,
h1,
li,
span,
button {
  color: #edf2f4;
}

h1 {
  font-size: 3.2rem;
}

a,
p,
li,
button {
  font-size: 1.8rem;
}

span {
  font-size: 1.2rem;
}
