* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #dee2e6;
}

a,
p,
h1,
li,
span,
button {
  color: #ffffff;
}
